.mixin.out/class/net
crash-reports
dumped
journeymap
local/ftbchunks
logs
mods
resourcepacks
rrp.debug
saves
screenshots
options.txt
patchouli_data.json
rhino.local.properties
servers.dat
servers.dat_old
usercache.json
usernamecache.json
config/jei
config/worldstripper
